body{
  background-color: darkslategrey;
  color:aliceblue;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  border: lightslategrey;
  background-color: rgb(110, 125, 139);
}

